@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<fieldset>
    <legend>Options</legend>
    <ul>
        <li>
            @Html.ActionLink("Create Session Key", "SessionKey")
        </li>
    </ul>
</fieldset>
